.myCard :hover {
    background-color:blanchedalmond;
    transform: scale(1.01);
    transition: all 1s ease;
}

.myCard{
    width: 20%;
    padding: 10px;
    float: left;
    display:flex;
}

.searchBox{
    padding: 9px 0px 0px 20px;
    margin: 0px
}